<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to Access Wishlist</title>
    <link rel="stylesheet" href="/css/userLogin.css">
</head>
<body>
    <div class="container">
        <img src="" alt="Wishlist" class="wishlist-icon">
        <h2>Login to Add/View Wishlist</h2>
        <a href="/login" class="btn">LOGIN / SIGNUP</a>
    </div>
</body>
</html>